body {
    background-color: teal;
}

.sheet {
    background-color: silver;
}

.grid-item {
    grid-row: span 1;
    background-color: white;
    border: 2px 2px 2px 0;
    border-style: solid;
    border-color: black;
}